@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Degular Display", sans-serif;
  margin: 0;
  padding: 0;
  background: $onyx;
}

h1,
h2,
h3 {
  font-family: "Degular Display", sans-serif;
  font-weight: bold;
}

p,
span,
li {
  font-family: "Source Code Pro", monospace;
}

a {
  font-family: "Degular Display", sans-serif;
  text-decoration: none;
  color: $offWhite;
}
