@import "app/styles/variables";

.projectsSection {
  background-color: $onyx;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0 16px;

  .container {
    max-width: 1248px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 96px;
  }

  .heading {
    color: #ffffff;
    font-size: 96px;
    font-weight: 700;
    margin: 0;
    text-align: start;
  }

  .projectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 96px;
  }
}
