@import "app/styles/variables";
@import "app/styles/container";

.projectsSection {
  background-color: $onyx;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .container {
    @extend .sharedContainer;
    display: flex;
    flex-direction: column;
    gap: 96px;

    @media (max-width: $tablet) {
      gap: 64px;
    }

    @media (max-width: $mobile) {
      gap: 48px;
    }
  }

  .heading {
    color: #ffffff;
    font-size: 96px;
    font-weight: 700;
    margin: 0;
    text-align: start;

    @media (max-width: $tablet) {
      font-size: 72px;
    }

    @media (max-width: $mobile) {
      font-size: 48px;
    }
  }

  .projectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 96px;

    @media (max-width: $tablet) {
      gap: 64px;
    }

    @media (max-width: $mobile) {
      gap: 48px;
    }
  }
}
