@import "app/styles/variables";

.projectsSection {
  background-color: $onyx;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .heading {
    color: #ffffff;
    font-size: 96px;
    font-weight: 700;
    margin: 96px 0;
  }

  .projectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 384px;
  }
}
