@import "app/styles/variables";

.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: $offWhite;
  text-decoration: none;
  border-radius: 9999px;
  transition: all 0.4s ease-in-out;
  z-index: 0;
  margin: 0.5rem;

  background: linear-gradient(
    45deg,
    $burgundy 0%,
    $burgundy 10%,
    $iris 70%,
    $iris 100%
  );

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 9999px;
    background: $onyx;
    z-index: 0;
  }

  span {
    position: relative;
    z-index: 100;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  div:nth-of-type(1) {
    position: absolute;
    inset: 0;
    z-index: 10;
    border-radius: 9999px;
    background: linear-gradient(
      45deg,
      $burgundy 0%,
      $burgundy 10%,
      $iris 70%,
      $iris 100%
    );
    padding: 1px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    > div {
      width: 100%;
      height: 100%;
      border-radius: 9999px;
      background: $onyx;
    }
  }

  div:nth-of-type(2) {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 9999px;
    opacity: 0;
    background: linear-gradient(
      45deg,
      $burgundy 0%,
      $burgundy 10%,
      $iris 70%,
      $iris 100%
    );
    filter: blur(20px);
    transition: opacity 0.4s ease-in-out;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.05);

    div:nth-of-type(1) {
      opacity: 1;
    }

    div:nth-of-type(2) {
      opacity: 0.7;
    }
  }
}
