@import "app/styles/variables";

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $onyx;
  color: $offWhite;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0 2rem;

    .leftBrace,
    .rightBrace {
      font-size: clamp(64px, 30vw, 420px);
      font-weight: bold;
      color: $onyx;
      -webkit-text-stroke: 8px transparent;
      -webkit-text-fill-color: $onyx;
      background: linear-gradient(
        45deg,
        $burgundy 0%,
        $burgundy 10%,
        $iris 70%,
        $iris 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      margin-bottom: 48px;
    }

    .heroText {
      text-align: center;

      h2 {
        font-size: clamp(16px, 3vw, 36px);
        margin-bottom: 0.5rem;
        color: $offWhite;
      }

      h1 {
        font-size: clamp(32px, 6vw, 72px);
        font-weight: bold;
        margin-bottom: 1rem;
        @extend .gradientText;
      }

      .subtitle {
        font-size: clamp(16px, 3vw, 36px);
        font-weight: normal;
        color: $offWhite;

        span {
          @extend .gradientText;
        }
      }
    }
  }
}

.gradientText {
  background: linear-gradient(
    25deg,
    $burgundy 0%,
    $burgundy 10%,
    $iris 60%,
    $iris 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
