@import "app/styles/variables";

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $onyx;
  color: $offWhite;
  padding: 0 24px;

  @media (max-width: $tablet) {
    padding: 0 16px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0 2rem;

    @media (min-width: $laptop) {
      min-width: 1200px;
    }

    @media (max-width: $tablet) {
      padding: 0 1rem;
    }

    .leftBrace,
    .rightBrace {
      font-size: clamp(64px, 30vw, 420px);
      font-weight: bold;
      color: $onyx;
      -webkit-text-stroke: 8px transparent;
      -webkit-text-fill-color: $onyx;
      background: linear-gradient(
        45deg,
        $burgundy 0%,
        $burgundy 10%,
        $iris 70%,
        $iris 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      margin-bottom: 48px;

      @media (max-width: $tablet) {
        -webkit-text-stroke: 6px transparent;
        margin-bottom: 32px;
      }

      @media (max-width: $mobile) {
        display: none;
      }
    }

    .heroText {
      text-align: center;
      width: 38%;
      padding: 0 1rem;

      @media (max-width: $tablet) {
        width: 50%;
      }

      @media (max-width: $mobile) {
        width: 100%;
        padding: 0;
      }

      h2 {
        font-size: clamp(24px, 4vw, 48px);
        margin-bottom: 1rem;
        color: $offWhite;

        @media (max-width: $mobile) {
          font-size: clamp(20px, 3.5vw, 42px);
        }
      }

      h1 {
        font-size: clamp(48px, 8vw, 96px);
        font-weight: bold;
        margin-bottom: 1.5rem;
        @extend .gradientText;

        @media (max-width: $mobile) {
          font-size: clamp(40px, 7vw, 84px);
        }
      }

      .subtitle {
        font-family: "Degular Display", sans-serif;
        font-size: clamp(24px, 4vw, 48px);
        font-weight: 500;
        color: $offWhite;

        @media (max-width: $mobile) {
          font-size: clamp(20px, 3.5vw, 42px);
        }

        span {
          @extend .gradientText;
        }
      }
    }
  }
}

.gradientText {
  background: linear-gradient(
    25deg,
    $burgundy 0%,
    $burgundy 10%,
    $iris 60%,
    $iris 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
