@import "app/styles/variables";

.card {
  position: sticky;
  top: 0;
  height: 160px;
  width: 100%;
  max-width: 576px;

  background: linear-gradient(45deg, $burgundy 0%, $iris 100%);
  border-radius: 48px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; // Prevent content overflow

  // Content wrapper
  .contentWrapper {
    position: relative; // Keep content above pseudo-element
    padding: 24px 32px;
    box-sizing: border-box;

    @media (min-width: $laptop) {
      padding: 32px 40px;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: $offWhite;
    }

    p {
      font-size: 1rem;
      color: $offWhite;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background-color: $onyx;
    border-radius: 40px;

    z-index: -1; // Send pseudo-element behind content
  }
}
