@import "app/styles/variables";

.contactSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $onyx;
  color: $offWhite;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
  }

  h1 {
    font-size: clamp(32px, 6vw, 72px);
    font-weight: bold;
    margin-bottom: 1rem;
    @extend .gradientText;
  }

  .subtitle {
    font-size: clamp(16px, 3vw, 36px);
    font-weight: normal;
    color: $offWhite;
  }
  span {
    font-size: 18px;
    margin: 24px;
    display: inline-block;
    background: linear-gradient(
      25deg,
      #800020 0%,
      #800020 10%,
      #5a4fcf 60%,
      #5a4fcf 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
  }

  span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      25deg,
      #800020 0%,
      #800020 10%,
      #5a4fcf 60%,
      #5a4fcf 100%
    );
  }
  .socialIcons {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }

  .iconWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.4s ease-in-out;
    overflow: visible;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        45deg,
        $burgundy 0%,
        $burgundy 10%,
        $iris 70%,
        $iris 100%
      );
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      z-index: 1;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      inset: -5px;
      background: linear-gradient(
        45deg,
        $burgundy 0%,
        $burgundy 10%,
        $iris 70%,
        $iris 100%
      );
      filter: blur(20px);
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      z-index: 0;
      border-radius: 50%;
    }

    .icon {
      position: relative;
      z-index: 2;
      color: $offWhite;
    }

    &:hover {
      transform: scale(1.05);

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0.7;
      }
    }
  }
}

.gradientText {
  margin: 32px;
  background: linear-gradient(
    25deg,
    $burgundy 0%,
    $burgundy 10%,
    $iris 60%,
    $iris 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.emailLink {
  text-decoration: none;

  &:hover span::after {
    width: 100%;
  }
}
