@import "app/styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 32px auto;
  max-width: 1248px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  &.hide {
    transform: translateY(-100%);
    opacity: 0;
  }

  &:hover {
    .profile {
      .imageContainer {
        // transform: scale(1.05);

        &::after {
          opacity: 0.7;
        }

        .status {
          background-color: #00ff66;
        }
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 16px;

    .imageContainer {
      position: relative;
      border-radius: 50%;
      padding: 4px;
      background: linear-gradient(
        45deg,
        $burgundy 0%,
        $burgundy 10%,
        $iris 70%,
        $iris 100%
      );
      width: 96px;
      height: 96px;
      transition: all 0.4s ease-in-out;
      z-index: 0;

      &::after {
        content: "";
        position: absolute;
        inset: -5px;
        border-radius: 50%;
        background: linear-gradient(
          45deg,
          $burgundy 0%,
          $burgundy 10%,
          $iris 70%,
          $iris 100%
        );
        opacity: 0;
        filter: blur(20px);
        transition: opacity 0.4s ease-in-out;
        z-index: -1;
      }

      img {
        display: block;
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-color: $onyx;
      }

      .status {
        position: absolute;
        bottom: 6px;
        right: 6px;
        width: 24px;
        height: 24px;
        background-color: #40ac7b;
        border-radius: 50%;
        border: 3px solid $onyx;
        z-index: 2;
        transition: all 0.4s ease-in-out;
      }
    }

    .name {
      font-family: "Degular Display", sans-serif;
      font-size: clamp(16px, 2vw, 20px);
      font-weight: medium;
      color: $offWhite;
    }
  }

  .navLinks {
    display: flex;
    gap: 2rem;

    a {
      color: $offWhite;
      font-size: clamp(16px, 2vw, 20px);
      font-weight: medium;
      text-decoration: none;
      transition: all 0.4s ease-in-out;
      background-clip: text;
      -webkit-background-clip: text;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      svg {
        transition: all 0.4s ease-in-out;
        &:hover {
          color: $iris;
        }
      }

      &:hover {
        color: transparent;
        background-image: linear-gradient(
          45deg,
          $burgundy 0%,
          $burgundy 10%,
          $iris 70%,
          $iris 100%
        );

        svg {
          color: $iris;
          background: none;
          -webkit-background-clip: initial;
          background-clip: initial;
        }
      }
    }
  }
}
