@import 'app/styles/variables';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.8); // Semi-transparent black background
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease; // Smooth transition for show/hide

    &.show {
        transform: translateY(0); // Reset to visible
        opacity: 1;
    }

    &.hide {
        transform: translateY(-100%); // Move out of view
        opacity: 0; // Optional: fade out while hidden
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 2px solid $iris;
        }

        .name {
            font-size: 1rem;
            font-weight: 500;
            color: $offWhite;

            .status {
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: #00ff00;
                border-radius: 50%;
                margin-left: 0.5rem;
            }
        }
    }

    .nav-links {
        display: flex;
        gap: 2rem;

        a {
            color: $offWhite;
            font-size: 1rem;
            font-weight: 400;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: $iris;
            }
        }
    }
}