@import "app/styles/variables";

.blogSection {
  max-width: 1248px;
  margin: 0 auto;

  background-color: $onyx;
  min-height: 80vh;

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .heading {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .blogWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
